@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

html, body {
  margin: 0px;
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #F9F7F0;
  z-index: 999;
}

nav .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 60px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .box .title {
  font-size: 24px;
  font-weight: bold;
  color: #072A40;
}
